body {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-color: rgb(243, 239, 230);
}

.upbox {
    background-color: #213d36; /* Change this color as desired */
    width: 100%; /* Full width of the page */
    min-height: 300px; /* Adjust height as needed */
    display: flex; /* Center content inside */
    justify-content: center; /* Center horizontally */
    flex-direction: column; /* Stack children vertically */
    align-items: center; /* Center vertically */
    align-items: center; /* Center content horizontally */
    padding: 10px; /* Add some padding to avoid edges */
    box-sizing: border-box; /* Include padding in height */
    padding: 35px;
}

body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

h3 {
    font-family: 'EB garamond';
    font-weight: normal;
    margin: 10px 0 0;
    color: #eee8d9; /* Text color to contrast the background */
    text-align: center; /* Center the text horizontally */
    font-size: 1.2rem; /* Adjust the font size as needed */
    max-width: 600px; /* Restrict text width to maintain two lines */
    overflow: hidden; /* Ensure no extra content overflows */
    word-wrap: break-word; /* Break long words when necessary */
}

.logo{
    width: 90%;
    max-width: 200px;
    height: auto;
    display: block;
    display: block; /* Ensures proper spacing behavior */
    margin-bottom: 30px;
    margin-top: 50px; /* Adjust the gap size as needed */
    margin-left: auto; /* Centers the logo horizontally */
    margin-right: auto; /* Centers the logo horizontally */
}

.image-container {
    position: relative;
    width: 150%;
    height: 100vh; /* Full viewport height */
    overflow: hidden;
}

.image-container img {
  width: 100vw;
  height: auto;
  object-fit: cover; /* Ensure the image fills the container */
}

.content {
    padding: 20px;
    background-color: #f4f4f4;
    height: 200vh; /* Extend page for scrolling */
  }

.eb-garamond-<uniquifier> {
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}